body {
    overflow: hidden;
}


.letters-container {
    position: absolute;
    top: 50px;
    right: 0;
    height: 100vh;
    width: 85vw;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letters {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    position: relative;
    padding-top: 10px !important;
}

.letters hr {
    height: 1px;
    border: none;
    background-color: black;
    width: 90%;
    margin: auto;
}

.letters p {
    font-weight: 500;
    font-size: 15px;
    margin: 0px 20px;

}

.message {
    height: 70%;
    width: 90%;
    resize: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
}

.name {
    margin-top: 15px !important;
}

.tnd {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 8px;
    margin: 5px 10px;
    color: rgb(0, 0, 0);
} 

.tnd em {
    margin: 5px;
    letter-spacing: 1px;
}

.btn-del {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 13px;
    background-color: red;
    padding: 2px 5px;
    color: white;
    text-decoration: none;
}

/* ------ */

.frmsearch {
    position: absolute;
    top: 0;
    right: 0;
    width: 83vw;
    height: 35px;
    margin: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.frmsearch .search {
    width: 50%;
    height: 35px;

    border: 1px solid black;
    outline: none;
    padding: 5px;
}

.frmsearch .btnsearch {
    width: 5%;
    height: 35px;
    
    border: 1px solid black;
    outline: none;
    padding: 5px;
}