* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    background-image: url("../img/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    width: 80%;
    margin: auto;
    margin-top: 15vh;
    position: relative;
    padding: 30px 30px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.692);
    background-color: rgba(0, 0, 0, 0.781);
}

.first-row {
    display: flex;
    align-items: center;
}

.letters {
    position: absolute;
    right: 60px;
    top: 11px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.295);
    padding: 5px 15px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid white;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close ion-icon{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#to {
    height: 40px;
    width: 30%;
    outline: none;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.692);
    background-color: rgba(0, 0, 0, 0.212);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}

#to::placeholder {
    color: rgb(255, 255, 255);
}

#to:focus {
    border-bottom: 1px solid rgb(255, 255, 255);
}

#message {
    height: 300px;
    width: 100%;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.692);
    background-color: rgba(0, 0, 0, 0.212);
    color: white;
}

#message::placeholder {
    color: white;
}

#message:focus {
    border: 1px solid rgb(255, 255, 255);
}

#post {
    border: 1px solid rgba(255, 255, 255, 0.692);
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    right: 30px;
    margin-top: 4px;
    cursor: pointer;
    transition: 0.4s;
}

#post:hover {
    background-color: rgba(255, 255, 255, 0.26);
    color: black;
}