* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.068);
    border-top: 0.5px solid rgba(255, 255, 255, 0.068);
    background-color: #f5f5f50e;
}

nav h3 {
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    color: white;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    background-color: #00000056;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #f5f5f50a;
}

center {
    margin-top: 30vh;
    width: 100%;
    padding: 20px;
}
center h3 {
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Sacramento', cursive;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

center hr {
    height: 1px;
    border: none;
    background-color: black;
    width: 65%;
    margin: 10px 0px;
}

center div {
    margin-top: 40px;
}

center div a {
    background-color: rgba(255, 255, 255, 0.356);
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 17px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.5s;
}

center div a:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.37);
}