* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.589);
    border-top: 0.5px solid rgba(0, 0, 0, 0.644);
}

nav h3 {
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

nav a {
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
    transition: 0.5s;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.795);
    color: rgb(255, 255, 255);
}

.letter-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: center;
}

.letters {
    position: relative;
    border: 1px solid black;
    height: 400px;
    width: 300px;
    margin: 10px;
    text-align: center;
}

.letters hr {
    height: 1px;
    border: none;
    background-color: black;
    width: 90%;
    margin: auto;
}

.letters p {
    font-weight: 500;
    font-size: 15px;
    margin: 0px 20px;

}

.message {
    height: 70%;
    width: 90%;
    resize: none;
    outline: none;
    border: 1px solid black;
    padding: 5px;
}

.name {
    margin-top: 25px !important;
}