* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.589);
    border-top: 0.5px solid rgba(0, 0, 0, 0.644);
}

nav h3 {
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.frmsearch {
    position: relative;
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(73, 73, 73);
}

.search {
    width: 90%;
    outline: none;
    padding: 10px;
    border: 0;
}

.btnsearch {
    width: 10%;
    outline: none;
    border: 0;
    border-left: 1px solid black;
    cursor: pointer;    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.7s;
}

.btnsearch:hover {
    background-color: black;
    color: white;
}

nav a {
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
    transition: 0.5s;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.795);
    color: rgb(255, 255, 255);
}

.letter-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: center;
}

.letters {
    position: relative;
    border: 1px solid black;
    height: 400px;
    width: 300px;
    margin: 10px;
    text-align: center;
}

.letters hr {
    height: 1px;
    border: none;
    background-color: black;
    width: 90%;
    margin: auto;
}

.letters p {
    font-weight: 500;
    font-size: 15px;
    margin: 0px 20px;

}

.message {
    height: 70%;
    width: 90%;
    resize: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
}

.name {
    margin-top: 25px !important;
}

.tnd {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 8px;
    margin: 5px 10px;
    color: rgb(0, 0, 0);
} 

.tnd em {
    margin: 5px;
    letter-spacing: 1px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f7f7; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.hidden .nav-transition {
    transform: translateY(-200%);
    transition: all 1s;
}

.show .nav-transition {
    transform: translateY(0);
}

.hidden .letters {
    transform: translateY(200%);
    transition: 1s;
    transition-delay: 0.5s;
}

.show .letters {
    transform: translateY(0);
}