* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    background-color: black;
}

.login-form-container {
    position: relative;
    background-color: rgba(105, 105, 105, 0.589);
    height: 60%;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.login-form-container h3 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: 'Sacramento', cursive;
    top: 40px;
    font-size: 30px;
    color: white;
}

.login-form-container form {
    position: relative;
    width: 80%;
    height: 65%;
    margin: auto;
    text-align: center;
    padding-top: 14%;
}

form input {
    height: 40px;
    width: 300px;
    margin: 10px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    font-family: poppins;
    background-color: rgba(105, 105, 105, 0.589);
    color: white;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.568);
}

form button {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(105, 105, 105, 0.589);
    font-family: poppins;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

form button:hover {
    background-color: rgba(92, 92, 92, 0.589);
}

.login-form-container .em {
    position: absolute;
    width: 100%;
    top: 65px;
    font-size: 13px;
    color: rgb(255, 47, 47);
}

.home {
    position: absolute;
    padding: 5px 6px;
    margin: 10px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(105, 105, 105, 0.589);
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: 1px solid white;
    letter-spacing: 2px;
}

.hidden a{
    transition: all 0.5s;
    transform: translateX(-100%);
}

.show a{
    transform: translateX(0);
}

.hidden .login-form-container {
    transition: all 2s;
    opacity: 0;
}

.show .login-form-container {
    opacity: 1;
}

.hidden .login-form-container h3 {
    transition: all 1s;
    transition-delay: 0.4s;
    opacity: 0;
}

.show .login-form-container h3{
    opacity: 1;
}

.hidden .login-form-container #email {
    transition: all 1s;
    transition-delay: 0.6s;
    opacity: 0;
}

.show .login-form-container #email{
    opacity: 1;
}

.hidden .login-form-container #password {
    transition: all 1s;
    transition-delay: 0.8s;
    opacity: 0;
}

.show .login-form-container #password{
    opacity: 1;
}

.hidden .login-form-container button {
    transition: all 1s;
    transition-delay: 1s;
    opacity: 0;
}

.show .login-form-container button {
    opacity: 1;
}